<div class="light-dark-toggle">
  <!-- light image -->
  <div class="light-dark-toggle__icon-container">
    @if (isDarkMode()) {
      <img src="assets/images/icon-sun-light.svg" alt="Light mode icon" />
    } @else {
      <img src="assets/images/icon-sun-dark.svg" alt="Light mode icon" />
    }
  </div>
  <!-- switch / toggle -->
  <label class="light-dark-toggle__switch">
    <input type="checkbox" [checked]="isDarkMode()" (change)="toggle()" />
    <span class="light-dark-toggle__slider"></span>
  </label>
  <!-- dark image -->
  <div class="light-dark-toggle__icon-container">
    @if (isDarkMode()) {
      <img src="assets/images/icon-moon-light.svg" alt="Dark mode icon" />
    } @else {
      <img src="assets/images/icon-moon-dark.svg" alt="Dark mode icon" />
    }
  </div>
</div>
