@use './../../../styles/mixins.scss' as mixins;

.quiz-category-button {
  border-radius: 12px;
  border: 0px solid transparent;
  background-color: var(--bg-surface);
  padding: var(--spacing-200);
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  width: 100%;
  cursor: pointer;
  box-shadow: var(--shadow-surface);

  font-family: 'Rubik', sans-serif;
  color: var(--color-text-primary);
  @include mixins.apply-text-preset('4--mobile');

  &:hover,
  &:active {
    outline: 3px solid var(--color-purple-600);
  }

  &__image {
    border-radius: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        width: calc((1 / 1.4) * 100%);
        height: calc((1 / 1.4) * 100%);
    }
  }
}
