/* You can add global styles to this file, and also import other style files */
@use './styles/variables/colors.scss';
@use './styles/variables/spacing.scss';
@use './styles/fonts.scss';
@use './styles/text-presets.scss';
@use './styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}
