/* You can add global styles to this file, and also import other style files */
@use './styles/variables/colors.scss';
@use './styles/variables/spacing.scss';
@use './styles/fonts.scss';
@use './styles/text-presets.scss';
@use './styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* light theme */
html.light {
  --bg-color: var(--color-grey-50);
  --bg-image-pattern--mobile: url("./assets/images/pattern-background-mobile-light.svg");
  --bg-image-pattern--tablet: url("./assets/images/pattern-background-tablet-light.svg");
  --bg-image-pattern--desktop: url("./assets/images/pattern-background-desktop-light.svg");

  /* components */

  // quiz-category-button
  --color-qcb-bg: var(--color-white);
  --color-qcb-text: var(--color-blue-900);
}

/* dark theme */
html.dark {
  --bg-color: var(--color-blue-900);
  --bg-image-pattern--mobile: url("./assets/images/pattern-background-mobile-dark.svg");
  --bg-image-pattern--tablet: url("./assets/images/pattern-background-tablet-dark.svg");
  --bg-image-pattern--desktop: url("./assets/images/pattern-background-desktop-dark.svg");

  /* components */
  
  // quiz-category-button
  --color-qcb-bg: var(--color-blue-850);
  --color-qcb-text: var(--color-white);
} 

body {
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image-pattern--mobile);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 48em) {
    background-image: var(--bg-image-pattern--tablet);
    background-size: unset;
  }

  @media (min-width: 67.5em) {
    background-image: var(--bg-image-pattern--desktop);
    background-size: cover;
    background-position: center;
  }
}
