@use './../../../styles/mixins.scss' as mixins;

.layout {
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-200) var(--spacing-300);
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-height: 72px;
  margin-bottom: var(--spacing-600);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
}

.headline {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);

  &__title {
    color: var(--color-text-primary);
    @include mixins.apply-text-preset('2--mobile--medium');
  }

  &__subtitle {
    color: var(--color-text-primary);
    @include mixins.apply-text-preset('2--mobile--light');
  }

  &__description {
    color: var(--color-text-secondary);
    @include mixins.apply-text-preset('5--mobile');
  }
}

.quiz-categories {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

/* layout - tablet */
@media (min-width: 48em) {
  .layout {
    padding: var(--spacing-500) var(--spacing-800) var(--spacing-700);
  }
  .header {
    min-height: 56px;
  }
  .content {
    gap: var(--spacing-800);
  }
  .headline {
    &__title {
      @include mixins.apply-text-preset('2--medium');
    }

    &__subtitle {
      @include mixins.apply-text-preset('2--light');
    }

    &__description {
      @include mixins.apply-text-preset('6');
    }
  }
  .quiz-categories {
    gap: var(--spacing-300);
  }
}

/* layout - desktop */
@media (min-width: 90em) {
  .layout {
    max-width: 1157px;
    padding: var(--spacing-1200) 0;
  }
  .header {
    margin-bottom: var(--spacing-1200);
  }
  .headline {
    gap: var(--spacing-600);
  }
  .content {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-1600);
  }
  .quiz-categories {
    width: 100%;
    max-width: 564px;
    gap: var(--spacing-200);
  }
}
