@use "./../../../styles/mixins.scss" as mixins;

.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 72px;
    padding: var(--spacing-200) var(--spacing-300);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    padding: var(--spacing-400) var(--spacing-300);
}

.headline {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    
    &__title {
        color: var(--color-text-primary);
        @include mixins.apply-text-preset("2--mobile--medium")
    }

    &__subtitle {
        color: var(--color-text-primary);
        @include mixins.apply-text-preset("2--mobile--light")
    }
    
    &__description {
        color: var(--color-text-secondary);
        @include mixins.apply-text-preset("5--mobile")
    }   
}

.quiz-categories {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}
